{% extends 'partials/base.html' %}

{% load static %}

{% block content %}
  <main class="main" style="padding:15px">
    <div class="page-header text-center" style="background-image: url('{% static 'assets/images/page-header-bg.jpg' %}');">>
      <div class="container-fluid">
        <h1 class="page-title">Categories<span>Shop</span></h1>
      </div>
      <!-- End .container-fluid -->
    </div>
    <!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav breadcrumb-with-filter">
      <div class="container-fluid">
        <a href="#" class="sidebar-toggler"><i class="icon-bars"></i>Filters</a>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="index.html">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="#">Shop</a>
          </li>
          <li class="breadcrumb-item">
            <a href="#">Product Category</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Fullwidth</li>
        </ol>
      </div>
      <!-- End .container-fluid -->
    </nav>
    <!-- End .breadcrumb-nav -->

    <div class="page-content">
      <div class="categories-page">
        <div class="container-fluid">
          <div class="row">
            {% for c in categories %}
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4"> <!-- Four columns per row -->
              <div class="banner banner-cat banner-badge">
                <a href="{% url 'core:category-product-list' c.cid %}"><img src="{{ c.image.url }}" alt="Banner" class="img-fluid" /></a>
    
                <a class="banner-link" href="{% url 'core:category-product-list' c.cid %}">
                  <h3 class="banner-title">{{ c.title }}</h3><!-- End .banner-title -->
                  <h4 class="banner-subtitle">{{ c.category.count }} Product{{ c.category.count|pluralize }}</h4><!-- End .banner-subtitle -->
                  <span class="banner-link-text">Explore Now</span>
                </a><!-- End .banner-link -->
              </div>
              <!-- End .banner -->
            </div>
            {% endfor %}
          </div>
          <!-- End .row -->
        </div>
        <!-- End .container-fluid -->
      </div>
      <!-- End .categories-page -->
    
      <div class="sidebar-filter-overlay"></div>
      <!-- End .sidebar-filter-overlay -->
    
      <aside class="sidebar-shop sidebar-filter sidebar-filter-banner">
        <div class="sidebar-filter-wrapper">
          <div class="widget widget-clean">
            <label><i class="icon-close"></i>Filters</label>
            <a href="#" class="sidebar-filter-clear">Clean All</a>
          </div>
          <div class="widget">
            <h3 class="widget-title">Browse Category</h3><!-- End .widget-title -->
    
            <div class="widget-body">
              <div class="filter-items filter-items-count">
                {% for c in categories %}
                <div class="filter-item d-flex align-items-center mb-3">
                  <a href="product.html">
                    <img src="{{ c.image.url }}" alt="{{ c.title }}" style="width: 50px; height: 50px; object-fit: cover; border-radius: 5px;" class="product-image mr-2" />
                  </a>
                  <div>
                    <a href="#" class="text-dark">{{ c.title }}</a>
                    <span class="badge badge-secondary ml-2">{{ c.category.count }}</span>
                  </div>
                </div>
                {% endfor %}
              </div>
              <!-- End .filter-items -->
            </div>
            <!-- End .widget-body -->
          </div>
          <!-- End .widget -->
        </div>
        <!-- End .sidebar-filter-wrapper -->
      </aside>
      <!-- End .sidebar-filter -->
    </div>
    
    
    <!-- End .page-content -->
  </main>
  <!-- End .main -->
{% endblock %}
