{% extends 'partials/base.html' %}

{% load static %}

{% block content %}
<style>
  .sidebar-shop {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px; /* Space between sections */
  }

  .widget-collapsible {
    flex: 1;
    border-left: 2px solid #ddd; /* Vertical separator */
    padding-left: 15px;
  }

  /* Remove border for the first section */
  .widget-collapsible:first-child {
    border-left: none;
  }
</style>
  <main class="main">
    <div class="page-header text-center" style="background-image: url('{% static 'assets/images/page-header-bg.jpg' %}');">
      <div class="container">
        <h1 class="page-title">Products<span>Shop</span></h1>
      </div>
      <!-- End .container -->
    </div>
    <!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
      <div class="container">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="index.html">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="#">Shop</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Product-Filters</li>
        </ol>
      </div>
      <!-- End .container -->
    </nav>
    <!-- End .breadcrumb-nav -->

    <div class="page-content">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="toolbox">
              <div class="toolbox-left">
                <div class="toolbox-info">
                  Showing <span>9 of 56</span> Products
                </div>
                <!-- End .toolbox-info -->
              </div>
              <!-- End .toolbox-left -->
          
              <div class="toolbox-right">
                <div class="toolbox-sort">
                  <label for="sortby">Sort by:</label>
                  <div class="select-custom">
                    <select name="sortby" id="sortby" class="form-control">
                      <option value="popularity" selected="selected">Most Popular</option>
                      <option value="rating">Most Rated</option>
                      <option value="date">Date</option>
                    </select>
                  </div>
                </div>
                <!-- End .toolbox-sort -->
              </div>
              <!-- End .toolbox-right -->
            </div>
            <!-- End .toolbox -->
          
            <div class="products mb-3">
              <div class="row justify-content-center">
                {% for p in products %}
                  <div class="col-6 col-md-4 col-lg-3">
                    <div class="product product-7 text-center">
                      <figure class="product-media">
                        <span class="product-label label-new">New</span>
                        <a href="{% url 'core:product-detail' p.pid %}">
                          <img src="{{ p.image.url }}" alt="Product image" class="product-image" />
                        </a>
          
                        <div class="product-action-vertical">
                          <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                          <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                          <a href="{% url 'core:product-detail' p.pid %}" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>
                        </div>
                        <!-- End .product-action-vertical -->
          
                        <div class="product-action">
                          <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                        </div>
                        <!-- End .product-action -->
                      </figure>
                      <!-- End .product-media -->
          
                      <div class="product-body">
                        <div class="product-cat">
                          <a href="#">{{ p.category.title }}</a>
                        </div>
                        <!-- End .product-cat -->
                        <h3 class="product-title"><a href="{% url 'core:product-detail' p.pid %}">{{ p.title }}</a></h3><!-- End .product-title -->
          
                        <div class="product-price">
                          <span class="new-price">{{ p.price }}</span>
                          <span class="old-price">Was {{ p.old_price }}</span>
                        </div>
                       
                        <!-- End .product-price -->
                        <div class="ratings-container">
                          <div class="ratings">
                            <div class="ratings-val" style="width: 20%;"></div>
                            <!-- End .ratings-val -->
                          </div>
                          <!-- End .ratings -->
                          <span class="ratings-text">( 2 Reviews )</span>
                        </div>
                        <!-- End .rating-container -->
          
                        <div>
                          <a href="#">By {{ p.vendor.title }}</a>
                        </div>
          
                        <div class="product-nav product-nav-thumbs">
                          <a href="#" class="active"><img src="{{ p.image.url }}" alt="product desc" /></a>
                          <!-- <a href="#"><img src="{% static 'assets/images/products/product-4-2-thumb.jpg' %}" alt="product desc" /></a>
          
                          <a href="#"><img src="{% static 'assets/images/products/product-4-3-thumb.jpg' %}" alt="product desc" /></a> -->
                        </div>
                        <!-- End .product-nav -->
                      </div>
                      <!-- End .product-body -->
                    </div>
                    <!-- End .product -->
                  </div>
                {% endfor %}
                <!-- End .col-sm-6 col-md-4 col-lg-3 -->
              </div>
              <!-- End .row -->
            </div>
            <!-- End .products -->
          
            <!-- Pagination (commented out for now) -->
            <!--
            <nav aria-label="Page navigation">
              <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                  <a class="page-link page-link-prev" href="#" aria-label="Previous" tabindex="-1" aria-disabled="true"><span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev</a>
                </li>
                <li class="page-item active" aria-current="page">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item-total">of 6</li>
                <li class="page-item">
                  <a class="page-link page-link-next" href="#" aria-label="Next">Next <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span></a>
                </li>
              </ul>
            </nav>
            -->
          </div>
          
          <!-- End .col-lg-9 -->
          <aside class="col-lg-12 order-lg-first">
            <div class="sidebar sidebar-shop">
              <div class="widget widget-collapsible">
                <h3 class="widget-title">
                  <a data-toggle="collapse" href="#widget-1" role="button">Category</a>
                </h3>
                <div class="collapse show" id="widget-1">
                  <div class="widget-body">
                    <div class="filter-items filter-items-count">
                      <div class="filter-item">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="cat-1" />
                          <label class="custom-control-label" for="cat-1">Dresses</label>
                        </div>
                        <span class="item-count">3</span>
                      </div>
                      <!-- Add other category items -->
                    </div>
                  </div>
                </div>
              </div>
          
              <div class="widget widget-collapsible">
                <h3 class="widget-title">
                  <a data-toggle="collapse" href="#widget-2" role="button">Vendor</a>
                </h3>
                <div class="collapse show" id="widget-2">
                  <div class="widget-body">
                    <div class="filter-items">
                      <div class="filter-item">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="size-1" />
                          <label class="custom-control-label" for="size-1">Alpha</label>
                        </div>
                      </div>
                      <!-- Add other vendor items -->
                    </div>
                  </div>
                </div>
              </div>
          
              <div class="widget widget-collapsible">
                <h3 class="widget-title">
                  <a data-toggle="collapse" href="#widget-3" role="button">Colour</a>
                </h3>
                <div class="collapse show" id="widget-3">
                  <div class="widget-body">
                    <div class="filter-colors">
                      <a href="#" style="background: #b87145;"></a>
                      <a href="#" style="background: #f0c04a;"></a>
                      <a href="#" style="background: #b87145;"></a>
                      <a href="#" style="background: #f0c04a;"></a>
                      <a href="#" style="background: #b87145;"></a>
                      <a href="#" style="background: #f0c04a;"></a>
                      <a href="#" style="background: #b87145;"></a>
                      <a href="#" style="background: #f0c04a;"></a>
                    </div>
                  </div>
                </div>
              </div>
          
              <div class="widget widget-collapsible">
                <h3 class="widget-title">
                  <a data-toggle="collapse" href="#widget-4" role="button">Brand</a>
                </h3>
                <div class="collapse show" id="widget-4">
                  <div class="widget-body">
                    <div class="filter-items">
                      <div class="filter-item">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="brand-1" />
                          <label class="custom-control-label" for="brand-1">Next</label>
                        </div>
                      </div>

                      <div class="filter-item">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="brand-2" />
                          <label class="custom-control-label" for="brand-2">River Island</label>
                        </div>
                      </div>

                      <div class="filter-item">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="brand-3" />
                          <label class="custom-control-label" for="brand-3">Geox</label>
                        </div>
                      </div>
                      <!-- Add other brands -->
                    </div>
                  </div>
                </div>
              </div>
          
              <div class="widget widget-collapsible">
                <h3 class="widget-title">
                  <a data-toggle="collapse" href="#widget-5" role="button">Price</a>
                </h3>
                <div class="collapse show" id="widget-5">
                  <div class="widget-body">
                    <div class="filter-items">
                      <div class="filter-item">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="price-0-10" />
                          <label class="custom-control-label" for="price-0-10">$0.00 - $10.00</label>
                        </div>
                      </div>

                      <div class="filter-item">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="price-11-20" />
                          <label class="custom-control-label" for="price-11-20">$11- $20.00</label>
                        </div>
                      </div>
                      <!-- Add other price ranges -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </aside>
          <!-- End .col-lg-3 -->
        </div>
        <!-- End .row -->
      </div>
      <!-- End .container -->
    </div>
    <!-- End .page-content -->
  </main>
  <!-- End .main -->
{% endblock %}
